$accent: #a3bbc8;
$accent-medium: #436372;
$accent-dark: #243f4d;
$default: #7b7b7b;
$title: #191919;
$bg: #fef7f0;
$bg-dark: #fcd7b6;

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-medium", sans-serif;
  font-weight: 500;
}

%DMSans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%DMSans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%DMSans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

// %btn {
//   padding: 12px 26px;
//   text-transform: uppercase;
//   color: #fff;
//   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
//   background-color: $accent;
//   @extend %roboto-400;
//   cursor: pointer;
// }

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}